ios/GoogleDataTransport.framework
ios/GoogleDataTransportCCTSupport.framework
ios/GoogleAppMeasurement.framework
ios/GTMSessionFetcher.framework
ios/GTMAppAuth.framework
ios/FirebaseCore.framework
ios/AppAuth.framework
ios/FirebaseAnalytics.framework
ios/GoogleUtilities.framework
ios/FirebaseAuth.framework
ios/PromisesObjC.framework
ios/GoogleToolboxForMac.framework
ios/nanopb.framework
ios/leveldb-library.framework
ios/FirebaseDatabase.framework
ios/FirebaseInstallations.framework
ios/FIRAnalyticsConnector.framework
ios/FirebaseStorage.framework
ios/GoogleSignIn.framework
ios/FirebaseCoreDiagnostics.framework
QZXing/*
MyBooks.pro.user
